<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="#" class="brand-link">
        <img src= "{{ url_for('static', filename='lib/adminlte-3.0.4/img/AdminLTELogo.png')}}" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Registro de visitas</span>
    </a>
    <div class="sidebar">

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <i class="nav-icon fas fa-user"></i>
{#                <img src="" class="img-circle elevation-2" alt="User Image">#}
            </div>
            <div class="info">
                <a href="#" class="d-block">{{current_user.username}}</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Opciones</li>
                {% if current_user.rol==2 or  current_user.rol==1 or current_user.rol==3 %}
                <li class="nav-item">
                    <a href="href={{ url_for('ingresos.listado') }}" class="nav-link">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Listado
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('ingresos.ingresos') }}" class="nav-link">
                        <i class="nav-icon fas fa-door-open"></i>
                        <p>
                            Ingresos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('ingresos.salidas') }}" class="nav-link">
                        <i class="nav-icon fas fa-door-closed"></i>
                        <p>
                            Salidas
                        </p>
                    </a>
                </li>

                {% if current_user.rol==1 or  current_user.rol==3 %}
                    <li class="nav-item">
                    <a href="{{ url_for('users.registro') }}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Usuarios
                        </p>
                    </a>
                    </li>

                {% if current_user.rol==3 %}
                     <li class="nav-item">
                    <a href="{{ url_for('establecimiento.principal') }}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Establecimientos
                        </p>
                    </a>
                    </li>

                         {% endif %}
                     {% endif %}
                {% endif %}




            </ul>
        </nav>
    </div>
</aside>
