{% extends 'body.html' %}
{% block head %}
    <!-- Datatables -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' ) }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' ) }}">
    <script src="{{ url_for('static', filename='lib/datatables-1.10.20/js/jquery.dataTables.js' ) }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' ) }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-list-alt"></i>
                        Listar establecimientos
                    </h3>
                </div>

                <div class="jumbotron-fluid p-2">
                    <h2>
                        <button type="button" class="btn btn-success float-right" data-toggle="modal"
                                data-target="#mymodal" id="buttonestbl"> Agregar nuevo establecimiento
                        </button>

                    </h2>
                </div>
                <div class="card-body">
                    <table class="table" id="data_p">
                        <thead>
                        {% block columns %}
                            <tr>
                                <th scope="col" style="width: 15%;">Nombre</th>
                                <th scope="col" style="width: 15%;">Direccion</th>
                                <th scope="col" style="width: 15%;">Telefono</th>
                                <th scope="col" style="width: 15%;">Observacion</th>
                                <th scope="col" style="width: 15%;">Opciones</th>
                            </tr>
                        {% endblock %}
                        </thead>
                        {% block rows %}
                            <tr>
                        {% endblock %}

                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {#        <div class="col-md-5">#}
        {#            <div class="card">#}
        {#                <div class="card-header">#}
        {#                    <h3 class="card-title">#}
        {#                        <i class="fas fa-plus-circle"></i>#}
        {#                        Agregar establecimiento#}
        {#                    </h3>#}
        {#                </div>#}
        {##}
        {#                <div class="card-body clearfix">#}
        {##}
        {#                    <div class="card-body">#}
        {#                        {% from '_macro.html' import form_error %}#}
        {#                        <form action="enviar_form" method="POST" novalidate>#}
        {#                            {{ form.hidden_tag() }}#}
        {##}
        {#                            <div class="form-group">#}
        {#                                {{ form.nombre.label }}#}
        {#                                <div class="input-group sm">#}
        {#                                    {{ form.nombre }}#}
        {#                                </div>#}
        {#                                {% if form.nombre.errors %}#}
        {#                                    {% for error in form.nombre.errors %}#}
        {#                                        <span class="text-danger small">{{ error }}</span>#}
        {#                                    {% endfor %}#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {##}
        {#                            <div class="form-group">#}
        {#                                {{ form.direccion.label }}#}
        {#                                <div class=" input-group sm">#}
        {#                                    {{ form.direccion }}#}
        {#                                </div>#}
        {#                                {% if form.direccion.errors %}#}
        {#                                    {% for error in form.direccion.errors %}#}
        {#                                        <span class="text-danger small">{{ error }}</span>#}
        {#                                    {% endfor %}#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {##}
        {#                            <div class="form-group">#}
        {#                                {{ form.telefono.label }}#}
        {#                                <div class="input-group sm">#}
        {#                                    {{ form.telefono }}#}
        {#                                </div>#}
        {#                                {% if form.telefono.errors %}#}
        {#                                    {% for error in form.telefono.errors %}#}
        {#                                        <span class="text-danger small">{{ error }}</span>#}
        {#                                    {% endfor %}#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {##}
        {#                            <div class="form-group">#}
        {#                                {{ form.observacion.label }}#}
        {#                                <div class="input-group sm">#}
        {#                                    {{ form.observacion }}#}
        {#                                </div>#}
        {#                                {% if form.telefono.errors %}#}
        {#                                    {% for error in form.observacion.errors %}#}
        {#                                        <span class="text-danger small">{{ error }}</span>#}
        {#                                    {% endfor %}#}
        {#                                {% endif %}#}
        {#                            </div>#}
        {##}
        {#                            {{ form.guardar }}#}
        {##}
        {#                        </form>#}
        {##}
        {#                    </div>#}
        {##}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>

    <div id="form_establecimiento" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card-header">
                    <h3 class="modal-title">
                        <i class="fas fa-plus-circle"></i>
                        Agregar establecimiento
                    </h3>
                </div>
                <div class="modal-body clearfix">
                    <div class="modal-body">
                        {% from '_macro.html' import form_error %}
                        <form action="" method="POST" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.nombre.label }}
                                <div class="input-group sm">
                                    {{ form.nombre }}
                                </div>
                                {% if form.nombre.errors %}
                                    {% for error in form.nombre.errors %}
                                        <span class="text-danger small">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.direccion.label }}
                                <div class=" input-group sm">
                                    {{ form.direccion }}
                                </div>
                                {% if form.direccion.errors %}
                                    {% for error in form.direccion.errors %}
                                        <span class="text-danger small">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.telefono.label }}
                                <div class="input-group sm">
                                    {{ form.telefono }}
                                </div>
                                {% if form.telefono.errors %}
                                    {% for error in form.telefono.errors %}
                                        <span class="text-danger small">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.observacion.label }}
                                <div class="input-group sm">
                                    {{ form.observacion }}
                                </div>
                                {% if form.telefono.errors %}
                                    {% for error in form.observacion.errors %}
                                        <span class="text-danger small">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {{ form.guardar }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </form>

                    </div>


                </div>
            </div>
        </div>
    </div>
    {##}
    <div id="modaleditestbl" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card-header">
                    <h3 class="modal-title">
                        <i class="fas fa-plus-circle"></i>
                        Agregar establecimiento
                    </h3>
                </div>
                <div class="modal-body clearfix">
                    <form id="form-establecimiento" method="POST" novalidate>
                        <div id="content-modal"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        let tbl;

        function get_tbl() {
            tbl = $('#data_p').DataTable({
                    responsive: false,
                    autoWidth: false,
                    destroy: true,
                    deferRender: true,
                    scrollX: true,
                    ajax: {
                        url: window.location.pathname,
                        type: 'POST',
                        data: {
                            'action': 'searchdata'
                        },
                        dataSrc: "",
                        headers: {'X-CSRFToken': csrftoken}
                    },
                    columns: [
                        {"data": "nombre"},
                        {"data": "direccion"},
                        {"data": "telefono"},
                        {"data": "observacion"},
                        {'data': 'opciones'},
                    ],

                    columnDefs: [
                        {
                            targets: [-1],
                            class: 'text-center',
                            orderable: false,
                            render: function (data, type, row) {
                                var buttons = '<a href="/edit/' + row.id + '" class="btn btn-warning btn-xs btn-flat btn-edit" data-toggle="modal" data-target="#modaleditestbl"><i class="fas fa-edit "></i></a>';
                                buttons += '<a class="btn btn-danger btn-xs btn-flat btn-delete"><i class="fas fa-trash"></i></a>';
                                return buttons;
                            }
                        },
                    ],

                }
            )
        }

        function enviarData(id_registro) {
            url = "/estbldelete/" + id_registro
           $.ajax({
               url: url,
               type: 'GET',
               data: {
                   id: id_registro,
               },
               success: function (data) {
                   tbl.ajax.reload()
               }
           })
        }

        {#        function enviarData(id_registro) {#}
        {#   $.ajax({#}
        {#       url: window.location.pathname,#}
        {#       type: 'GET',#}
        {#       data: {#}
        {#           id: id_registro,#}
        {#       }#}
        {#   }).done(function (data) {#}
        {#       if (!data.hasOwnProperty('error')) {#}
        {#           console.log('redirect', data.redirect)#}
        {#           if (data.hasOwnProperty('redirect')) {#}
        {#               location.href = data.redirect#}
        {#           }#}
        {#       }#}
        {#       console.log("data", data)#}
        {#   }).fail(function (error) {#}
        {#       console.log("Error")#}
        {#   })#}
        {##}

        get_tbl()
        let addbutton = document.getElementById('buttonestbl')
        addbutton.addEventListener('click', function () {
            $("#form_establecimiento").modal("show")
        })

        let url;
        $("#data_p tbody").on("click", ".btn-edit", function () {
            var tr = tbl.cell($(this).closest('td, li')).index();
            console.log(tr)
            var data = tbl.row(tr.row).data();
            url = "/edit/" + data.id
            $.ajax({
                url: url,
                type: 'GET',
            }).done(function (res) {
                let content = document.getElementById("content-modal")
                content.innerHTML = res
            })
            $("#modaleditestbl").modal("show")
        })

        $("#data_p tbody").on('click', '.btn-delete', function (e) {
           e.preventDefault()
            console.log("pruea")
           var tr = tbl.cell($(this).closest('td, li')).index();
           var data = tbl.row(tr.row).data();
           let id = data.id
           enviarData(id)
        })

        {#let nombre = document.getElementById('nombre')#}
        {#nombre.addEventListener('keyup', function () {#}
        {#    nombre.style.borderColor = 'green'})#}

        $("#form-establecimiento").on("submit", function (e) {
            e.preventDefault()
            var formData = new FormData($(this)[0])
            $.ajax({
                url: url,
                type: "POST",
                processData:false,
                loadData:false,
                contentType:false,
                datatype: 'json',
                data: formData,
                success: function (data, textStatus, jqXHR) {
                    {#console.log(data)#}
                    alert("Actualizado exitosamente")
                    tbl.ajax.reload(null, false);
                    $('modaleditestbl').modal('hide');
                },
                error: function (data, textStatus, jqXHR){
                    //process error msg
                }
            });

        });
    </script>


{% endblock %}