{% extends 'body.html' %}

{% block head %}
    <!-- Datatables -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' ) }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' ) }}">
    <script src="{{ url_for('static', filename='lib/datatables-1.10.20/js/jquery.dataTables.js' ) }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' ) }}"></script>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-plus-circle"></i>
                        Agregar usuario
                    </h3>
                </div>

                <div class="card-body clearfix">

                    <div class="card-body">
                        {% from '_macro.html' import form_error %}
                        <form action="" method="POST" novalidate>
                            {{ form.hidden_tag() }}

            <div class="input-group mb-3">
                        {{ form.first_name }}
                        {#                    <input type="text" class="form-control" placeholder="Full name">#}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.last_name }}
                        {#                    <input type="text" class="form-control" placeholder="Full name">#}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        {{ form.username }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>


                    <div class="input-group mb-3">
                        {{ form.email }}
                        {#                    <input type="email" class="form-control" placeholder="Email">#}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>


                    <div class="input-group mb-3">
                        {{ form.password }}
                        {#                    <input type="password" class="form-control" placeholder="Retype password">#}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        {{ form.establecimiento }}
                        {#                    <input type="password" class="form-control" placeholder="Retype password">#}
                        {#                        <div class="input-group-append">#}
                        {#                            <div class="input-group-text">#}
                        {#                                <span class="fas fa-lock"></span>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>

                    <div class="input-group mb-3">
                        {{ form.rol }}
                    </div>

                    <div class="col-6">
                        {{ form.register }}
                        {#                        <button type="submit" class="btn btn-primary btn-block">Registrarse</button>#}
                    </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>

                        </form>

                    </div>


                </div>
            </div>
        </div>
    </div>


    <script>
        {#let nombre = document.getElementById('nombre')#}
        {#nombre.addEventListener('keyup', function () {#}
        {#    nombre.style.borderColor = 'green'})#}
    </script>


{% endblock %}