<div class="modal-body">
    {% from '_macro.html' import form_error %}
    <form id="form-usuario" method="POST" novalidate>
        {{ form.hidden_tag() }}
              <div class="input-group mb-3">
                        {{ form.first_name }}
                        {#                    <input type="text" class="form-control" placeholder="Full name">#}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.last_name }}
                        {#                    <input type="text" class="form-control" placeholder="Full name">#}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        {{ form.username }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>


                    <div class="input-group mb-3">
                        {{ form.email }}
                        {#                    <input type="email" class="form-control" placeholder="Email">#}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>


                    <div class="input-group mb-3">
                        {{ form.password }}
                        {#                    <input type="password" class="form-control" placeholder="Retype password">#}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        {{ form.establecimiento }}
                        {#                    <input type="password" class="form-control" placeholder="Retype password">#}
                        {#                        <div class="input-group-append">#}
                        {#                            <div class="input-group-text">#}
                        {#                                <span class="fas fa-lock"></span>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>

                    <div class="input-group mb-3">
                        {{ form.rol }}
                    </div>

                    <div class="col-6">
                        {{ form.register }}
                        {#                        <button type="submit" class="btn btn-primary btn-block">Registrarse</button>#}
                    </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>

       </form>
</div>